.App {
    text-align: center;
  }
  
  .container {
    margin-top: 3rem;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .one-half {
    flex: 0 0 45%;
  }