body {
  margin: 0;
  font-size: 1vw;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primera-mitad
{
  width: 46%;
  margin-right: 3%;
}

.segunda-mitad
{
  width: 40%;
  text-align: center;
}

label
{
  margin-top: 1vw;
  margin-bottom: 0.3vw;
}